In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import matplotlib as mlp
import seaborn as sns

In [2]:
data = pd.read_csv('crimes2018.csv', encoding = 'euc-kr')
data

     구분  죄종 발생검거    건수
0    중구  살인   발생     1
1    중구  살인   검거     1
2    중구  강도   발생     5
3    중구  강도   검거     7
4    중구  강간   발생   132
..   ..  ..  ...   ...
305  수서  강간   검거   171
306  수서  절도   발생   984
307  수서  절도   검거   481
308  수서  폭력   발생  1697
309  수서  폭력   검거  1443

[310 rows x 4 columns]

In [3]:
idx_arrest = data[data['발생검거'] == '검거'].index
data_occur = data.drop(idx_arrest)

In [4]:
data_occur

     구분  죄종 발생검거    건수
0    중구  살인   발생     1
2    중구  강도   발생     5
4    중구  강간   발생   132
6    중구  절도   발생  1057
8    중구  폭력   발생  1176
..   ..  ..  ...   ...
300  수서  살인   발생     5
302  수서  강도   발생     5
304  수서  강간   발생   194
306  수서  절도   발생   984
308  수서  폭력   발생  1697

[155 rows x 4 columns]

In [5]:
grouped_data = data_occur.groupby(by=['구분'],as_index=False).sum()
grouped_data

      구분    건수
0    강남구  4628
1    강동구  3919
2    강북구  3437
3    강서구  4629
4    관악구  5026
5    광진구  3915
6    구로구  4810
7    금천구  3293
8    남대문  1659
9    노원구  4007
10   도봉구  2249
11  동대문구  3680
12   동작구  3100
13   마포구  5172
14    방배   920
15  서대문구  2802
16    서부  1374
17   서초구  3806
18   성동구  2457
19   성북구  1612
20   송파구  5807
21    수서  2885
22   양천구  3515
23  영등포구  5840
24   용산구  3411
25   은평구  2216
26   종로구  2017
27    종암  1430
28    중구  2371
29   중랑구  4288
30    혜화  1673

In [6]:
grouped_data.iloc[8,0] = '중구'
grouped_data.iloc[14,0] = '서초구'
grouped_data.iloc[16,0] = '마포구'
grouped_data.iloc[21,0] = '강남구'
grouped_data.iloc[27,0] = '성북구'
grouped_data.iloc[30,0] = '종로구'

In [7]:
grouped_data

      구분    건수
0    강남구  4628
1    강동구  3919
2    강북구  3437
3    강서구  4629
4    관악구  5026
5    광진구  3915
6    구로구  4810
7    금천구  3293
8     중구  1659
9    노원구  4007
10   도봉구  2249
11  동대문구  3680
12   동작구  3100
13   마포구  5172
14   서초구   920
15  서대문구  2802
16   마포구  1374
17   서초구  3806
18   성동구  2457
19   성북구  1612
20   송파구  5807
21   강남구  2885
22   양천구  3515
23  영등포구  5840
24   용산구  3411
25   은평구  2216
26   종로구  2017
27   성북구  1430
28    중구  2371
29   중랑구  4288
30   종로구  1673

In [8]:
grouped2_data = grouped_data.groupby(by=['구분'],as_index=False).sum()
grouped2_data.shape

(25, 2)

In [9]:
population = pd.read_csv('population_seoul2018.csv', encoding = 'euc-kr')
population = population.iloc[1:, :]
population['총인구수'] = pd.to_numeric(population['총인구수'])

In [10]:
join_data = pd.merge(grouped2_data, population, left_on='구분', right_on='행정구역(시군구)별', how='outer')
join_data

      구분      건수 행정구역(시군구)별     총인구수
0    강남구  7513.0        강남구   542364
1    강동구  3919.0        강동구   427573
2    강북구  3437.0        강북구   319164
3    강서구  4629.0        강서구   596949
4    관악구  5026.0        관악구   501957
5    광진구  3915.0        광진구   355559
6    구로구  4810.0        구로구   404497
7    금천구  3293.0        금천구   233917
8    노원구  4007.0        노원구   543752
9    도봉구  2249.0        도봉구   339413
10  동대문구  3680.0       동대문구   348052
11   동작구  3100.0        동작구   396203
12   마포구  6546.0        마포구   375077
13  서대문구  2802.0       서대문구   310313
14   서초구  4726.0        서초구   433951
15   성동구  2457.0        성동구   308221
16   성북구  3042.0        성북구   435868
17   송파구  5807.0        송파구   666635
18   양천구  3515.0        양천구   464185
19  영등포구  5840.0       영등포구   367778
20   용산구  3411.0        용산구   228999
21   은평구  2216.0        은평구   483197
22   종로구  3690.0        종로구   153065
23    중구  4030.0         중구   125725
24   중랑구  4288.0        중랑구   403209
25   NaN     NaN      서울특별시  9765623

In [11]:
crime_rate = (join_data['건수'] / join_data['총인구수']) * 100000

In [12]:
join_data['crime_rate'] = crime_rate
join_data

      구분      건수 행정구역(시군구)별     총인구수   crime_rate
0    강남구  7513.0        강남구   542364  1385.232058
1    강동구  3919.0        강동구   427573   916.568633
2    강북구  3437.0        강북구   319164  1076.875838
3    강서구  4629.0        강서구   596949   775.443128
4    관악구  5026.0        관악구   501957  1001.280986
5    광진구  3915.0        광진구   355559  1101.083083
6    구로구  4810.0        구로구   404497  1189.131193
7    금천구  3293.0        금천구   233917  1407.764292
8    노원구  4007.0        노원구   543752   736.916830
9    도봉구  2249.0        도봉구   339413   662.614573
10  동대문구  3680.0       동대문구   348052  1057.313275
11   동작구  3100.0        동작구   396203   782.427190
12   마포구  6546.0        마포구   375077  1745.241644
13  서대문구  2802.0       서대문구   310313   902.959270
14   서초구  4726.0        서초구   433951  1089.063051
15   성동구  2457.0        성동구   308221   797.155288
16   성북구  3042.0        성북구   435868   697.917718
17   송파구  5807.0        송파구   666635   871.091377
18   양천구  3515.0        양천구   464185   757.241186
19  영등포구  5840.0       영등포구   367778  1587.914448
20   용산구  3411.0        용산구   228999  1489.526155
21   은평구  2216.0        은평구   483197   458.612119
22   종로구  3690.0        종로구   153065  2410.740535
23    중구  4030.0         중구   125725  3205.408630
24   중랑구  4288.0        중랑구   403209  1063.468325
25   NaN     NaN      서울특별시  9765623          NaN

In [13]:
join_data.sort_values(by=['crime_rate'], ascending = False)

      구분      건수 행정구역(시군구)별     총인구수   crime_rate
23    중구  4030.0         중구   125725  3205.408630
22   종로구  3690.0        종로구   153065  2410.740535
12   마포구  6546.0        마포구   375077  1745.241644
19  영등포구  5840.0       영등포구   367778  1587.914448
20   용산구  3411.0        용산구   228999  1489.526155
7    금천구  3293.0        금천구   233917  1407.764292
0    강남구  7513.0        강남구   542364  1385.232058
6    구로구  4810.0        구로구   404497  1189.131193
5    광진구  3915.0        광진구   355559  1101.083083
14   서초구  4726.0        서초구   433951  1089.063051
2    강북구  3437.0        강북구   319164  1076.875838
24   중랑구  4288.0        중랑구   403209  1063.468325
10  동대문구  3680.0       동대문구   348052  1057.313275
4    관악구  5026.0        관악구   501957  1001.280986
1    강동구  3919.0        강동구   427573   916.568633
13  서대문구  2802.0       서대문구   310313   902.959270
17   송파구  5807.0        송파구   666635   871.091377
15   성동구  2457.0        성동구   308221   797.155288
11   동작구  3100.0        동작구   396203   782.427190
3    강서구  4629.0        강서구   596949   775.443128
18   양천구  3515.0        양천구   464185   757.241186
8    노원구  4007.0        노원구   543752   736.916830
16   성북구  3042.0        성북구   435868   697.917718
9    도봉구  2249.0        도봉구   339413   662.614573
21   은평구  2216.0        은평구   483197   458.612119
25   NaN     NaN      서울특별시  9765623          NaN

In [17]:
crime_data = join_data[['행정구역(시군구)별', 'crime_rate']]
crime_rate_sorted = crime_data.sort_values(by=['crime_rate'], ascending = False)

crime_rate_sorted

   행정구역(시군구)별   crime_rate
23         중구  3205.408630
22        종로구  2410.740535
12        마포구  1745.241644
19       영등포구  1587.914448
20        용산구  1489.526155
7         금천구  1407.764292
0         강남구  1385.232058
6         구로구  1189.131193
5         광진구  1101.083083
14        서초구  1089.063051
2         강북구  1076.875838
24        중랑구  1063.468325
10       동대문구  1057.313275
4         관악구  1001.280986
1         강동구   916.568633
13       서대문구   902.959270
17        송파구   871.091377
15        성동구   797.155288
11        동작구   782.427190
3         강서구   775.443128
18        양천구   757.241186
8         노원구   736.916830
16        성북구   697.917718
9         도봉구   662.614573
21        은평구   458.612119
25      서울특별시          NaN

In [18]:
crime_rate_sorted.to_csv("seoul_crime_rate.csv", encoding='euc-kr')